
@media (max-width: 1195px) {
    .intro {
        padding-top: 300px;
        padding-left: 700px;
        box-sizing: border-box;
    }

    .intro p:first-child {
        font-size: 2em;    
    }

    .intro p:last-child {
        font-size: 1em;    
        padding: 0 80px;
    }
}

/* tablet */

@media (max-width: 994px) {
    .intro {
        padding-top: 0;
        padding-left: 0;
        margin: 700px auto;
        width: min-content;
        box-sizing: border-box;
    }

    .intro p:last-child {
        padding: 0 56px;
    }

}
